.Faq {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-blue);
    padding: 3rem 0 3rem 0;
}

.Faq-holder {
    width: 91%;
    margin: 0 auto;
}

.page-heading {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 3rem;
}